*{
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}

.header {
    background: #fff8f3;
    padding-top: 10px;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

 .button-primary {
          color: #ffffff;
          font-weight: 700;
          font-size: 20px;
          height: 64px;
          border: 0;
          padding: 18px 35px;
          border-radius:5px;
          background: #fd6e0a;
 }


nav {
    display:flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
     display: flex;
     align-items: center;
}

ul li {
      list-style: none;
      margin-left: 50px;
}

.title{
        font-weight: 800;
        font-size: 45px;
}

.banner{
        display: flex;
        align-items: center;
        margin: 0 200px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
}

.sub-title{
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-img {
         margin-left: 299px;
}

/* main section */
 

main {
      max-width: 1140px;
      margin: 0 auto;
}


.about {
     text-align: center;
      margin-top: 130px;
      background: #fff8f3;
      border-radius: 10px;
      padding: 130px 150px;

}


.section-title{
   margin-bottom: 30px;
}

.section-description{
       color: #757575;
       font-size: 18px;
       margin-bottom: 30px;
}

.about-info-container {
     display: flex;
     justify-content: space-around;

}

.about-info-title{
     font-size: 20px;
     color: #757575;
}

.info-description {
    font-weight: 700;
    font-size:20px;
    color: #474747;
}






